.vscode/**
.vscode-test/**
src/**
webview/**
node_modules/**
test/**
coverage/**
.github/**
.gitignore
.yarnrc
.babelrc
.prettierrc
**/.eslintrc
**/jsconfig.json
**/*.map
jest.config.js
jest.setup.js
webpack.config.js
tsconfig.json
